body{
    background-color: rgb(91, 113, 117);
}
nav{
    text-align: center;
    background-color: aliceblue;
    height: 3rem;
}
fieldset{
    background-color: rgb(77, 107, 97);
}
a{
    font-size: 30px;
    text-decoration: none;
}
a:hover{
    background-color: aqua;
}
a:focus{
    background-color: beige;
}
n:hover{
    width: 200px;
}
