
body{
    background-color: rgb(91, 113, 117);
}
h1{
    text-align: center;
    text-decoration: none;
}
fieldset{
    background-color: rgb(10, 104, 107);
    display: block;
}
legend{
    color: antiquewhite;
    text-align: left;
    color: rgb(149, 168, 231);
}
ol{
    text-align: justify;
    height: 20px;
}
p{
    text-align: left;
    height: 20px;
}
nav{
    text-align: center;
    background-color: cadetblue;
    height: 3rem;
    text-decoration: none;
}
a:focus{
    text-decoration: none;
    background-color: rgb(125, 171, 200);
}
n:hover{
    width: 200px;
}
img{
    float: left;
    height: 500px;
    margin: 20px;
    border: 15px solid rgb(64, 94, 107);
}
a{
    width: 5px;
    font-size: 40px;
    text-decoration: none;
}