p{
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
}
legend{
    color: rgb(194, 51, 51);
    font-size: 25px;
}
h1{
    font-style: italic;
    text-align: center;
}
body{
    background-color: cornflowerblue;
}